@model WebDepartment.Models.personel;
@{
    ViewData["Title"] = "NewDepart";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.LabelFor(x=>x.ad)
    <br />
    @Html.TextBoxFor(x=>x.ad,new { @class = "form-controler"})
    <br />
    @Html.LabelFor(x=>x.soyad)
    <br />
    @Html.TextBoxFor(x=>x.soyad,new { @class = "form-controler"})
    <br />
      @Html.LabelFor(x=>x.sehir)
    <br />
    @Html.TextBoxFor(x=>x.sehir,new { @class = "form-controler"})
    <br />
    @Html.LabelFor(x=>x.departmanid)
    <br />
    @Html.DropDownListFor(x=>x.departman.Id,(List<SelectListItem>)ViewBag.values,new { @class = "form-controler"})
    <button class="btn btn-default" style="background-color:brown;color:white;margin-top:10px">Add Person</button>
</form>
